.our-team {
  background: var(--background-our-team);
}
.our-team__heading-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
.our-team__list {
  display: flex;

  & .our-team__list_item + .our-team__list_item {
    margin-left: 30px;
  }
}

.our-team__list_item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__employee-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 30px;
  margin-bottom: 10px;
}
.our-team__activity-employee {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--mail-tel-color);
  margin-bottom: 16px;
}
